{%include 'public_header.html'%}
<center>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body class="login-body">
    <form action="" method="post">
    <div class="row login-row shadow rounded" data-aos="fade-up" data-aos-duration="1000">
        <h2>Login</h2>
        <div class="col-12">
            <div class="input-field">
                <i class="fa-solid fa-user icon"></i>
                <input type="text" name="username" placeholder="Username" class="form-control" id="">
            </div>
            <div class="input-field">
                <i class="fa-solid fa-key icon"></i>    
                <input type="password" name="password" placeholder="Password" class="form-control" id="">
            </div>
            <div class="input-field">
                <input type="submit" name="submit" class="btn" id="">
            </div>
        </div>
    </div>
</body>

<script>
    if (performance.navigation.type == 2) {
        location.reload(true);
    }
</script>
</html>
<br><br><br><br><br><br><br><br><br>
{%include 'public_footer.html'%}