{%include 'public_header.html'%}
<center>
<br><br><br><br><br><br><br>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTRATION</title>
</head>
<body>
    <div class="container">
        <div class="row reg-row shadow rounded" data-aos="fade-up" data-aos-duration="1000">
            <h2>Register here!!</h2>
            <div class="col-12 col-lg-6">
                <div class="input-field">
                    <i class="fa-solid fa-user icon"></i>
                    <input type="text" name="fname" placeholder="first name" class="form-control" id="">
                </div>
                <div class="input-field">
                    <i class="fa-solid fa-user icon"></i>
                    <input type="text" name="lname" placeholder="last name" class="form-control" id="">
                </div>
                <div class="input-field">
                    <i class="fa-solid fa-user icon"></i>
                    <input type="text" name="place" placeholder="place" class="form-control" id="">
                </div>
                <div class="input-field">
                    <i class="fa-solid fa-user icon"></i>
                    <input type="phone" name="phone" placeholder="phone" class="form-control" id="">
                </div>
                <div class="input-field">
                    <i class="fa-solid fa-user icon"></i>
                    <input type="email" name="email" placeholder="email" class="form-control" id="">
                </div>
                <div class="input-field">
                    <i class="fa-solid fa-user icon"></i>
                    <input type="text" name="username" placeholder="username" class="form-control" id="">
                </div>
                <div class="input-field">
                    <i class="fa-solid fa-user icon"></i>
                    <input type="password" name="password" placeholder="password" class="form-control" id="">
                </div>
                <div class="input-field">
                    <input type="submit" name="submit" class="btn btn-primary" id="">
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="img-field d-none d-lg-block">
                    <img src="https://img.freepik.com/free-vector/login-concept-illustration_114360-739.jpg?size=626&ext=jpg&ga=GA1.1.2039042225.1717831013&semt=ais_hybrid" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
</center>
<br><br><br><br><br><br>
{%include 'public_footer.html'%}